<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Hello, world!</title>
</head>

<body>
  <app-teachernav></app-teachernav>
  <div *ngIf="loading; then thenBlock else myelseBlock"></div>
  <ng-template #thenBlock>
    <app-loading></app-loading>
  </ng-template>
  <ng-template #myelseBlock>

    <div *ngIf="empty; else elseBlock">
      <div style="margin-top: 50px;" class="d-flex justify-content-center">
        <div class="row">
          <div class="col-6">
            <h5 class="text-capitalize m-lg-5">Seems Like Empty Data!!!!</h5>
            <h5 class="text-capitalize m-lg-5">Not found any uploaded Quiz!!</h5>
          </div>
          <div class="col-6">
            <img src="../../../assets/img/empty.svg" alt="" class="img-fluid ">
          </div>
        </div>


      </div>
    </div>

    <ng-template #elseBlock>

      <table class="table table-hover w-50"
        style="background-color: white; margin-top: 100px;  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.5);">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Quiz Name</th>
            <th scope="col">Quiz Description</th>
            <th scope="col">See Question</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of quiz;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{q.quizname}}</td>
            <td>
              {{q.quizdescription}}
            </td>
            <td>
              <button class="btn btn-light" (click)="viewQuestion(q)"><i class="fa fa-eye" style="color: #0a192f;"
                  aria-hidden="true"></i></button>
            </td>
            <td><button (click)="delete(q)" class="btn btn-danger">Delete</button></td>
          </tr>

        </tbody>
      </table>
    </ng-template>

  </ng-template>


</body>

</html>