<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
  <app-teachernav></app-teachernav>
  <div *ngIf="loading; then thenBlock else myelseBlock"></div>
  <ng-template #thenBlock>
    <app-loading></app-loading>
  </ng-template>
  <ng-template #myelseBlock>
    <div *ngIf="empty; else elseBlock">
      <div style="margin-top: 50px;" class="d-flex justify-content-center">
        <div class="row">
          <div class="col-6">
            <h5 class="text-capitalize m-lg-5">Seems Like Empty Data!!!!</h5>
            <h5 class="text-capitalize m-lg-5">Not found any created Quiz!!</h5>
          </div>
          <div class="col-6">
            <img src="../../../assets/img/empty.svg" alt="" class="img-fluid ">
          </div>
        </div>


      </div>
    </div>
    <ng-template #elseBlock>
      <p style="color: red;font-weight: bold;font-size: 20px;text-align: center;margin-top: 50px;" *ngIf="avail">{{msg}}
      </p>
      <table class="table table-hover w-50"
        style="background-color: white; margin-top: 100px;  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.5);">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Quiz Name</th>
            <th scope="col">Description</th>
            <th scope="col">See Question</th>
            <th scope="col">Add Question</th>
            <th scope="col">Upload</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of quiz;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{q.quizname}}</td>
            <td>{{q.quizdescription}}</td>
            <td>
              <button (click)="viewQuestion(q)" class="btn btn-light"><i class="fa fa-eye" (click)="viewQuestion(q)"
                  style="color: #0a192f;" aria-hidden="true"></i></button>
            </td>
            <td><button class="btn btn-light" (click)="add(q)">Add</button></td>
            <td><button class="btn btn-light" (click)="upload(q)">Upload</button></td>
            <td><button class="btn btn-light" (click)="delete(q)">Delete</button></td>
          </tr>

        </tbody>
      </table>
    </ng-template>
  </ng-template>
</body>

</html>