<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">

</head>
<body>
  <div class="container mt-sm-5 my-1">
    <div class="bg-white p-3 border-bottom">
      <div class="d-flex flex-row justify-content-between align-items-center mcq">
        <h5>({{questionCounter}} of {{totalQuestion}}) </h5><span><h5 class="text-danger">timeleft 00:{{timePerQuestion}}</h5> </span>
      </div>
    </div>
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5"><b>Q. {{oneQuestion.questionText}}</b></div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"
        *ngFor="let user of oneQuestion.options;index as i">


        <label class="options">{{user.optionText}}<input type="radio" value="{{user.optionValue}}" name="option"
            (change)="answer(oneQuestion.questionId,user.optionValue)"> <span class="checkmark"></span> </label>
      </div>
    </div>
    <div class="d-flex align-items-center pt-3" style="position: relative;margin-top: 20px;margin-bottom: 20px;" *ngIf="!finalsubmit">
      <div class="clsbtnleft"> <button class="btn btn-primary" [disabled]="flageLast"
          (click)="nextQuestion()">Next</button> </div>
      <div class="clsbtnright" > <button class="btn btn-success" [disabled]="!flageLast" data-toggle="modal" data-target="#myModal"
         (click)="lastsubmit()">Submit</button> </div>
    </div>

  </div>
  <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
      <div class="card">
        <div class="text-right cross"> <i class="fa fa-times"></i> </div>
        <div class="card-body text-center"> <img src="../../../assets/img/achivement.svg" class="img-fluid">
          <h4>CONGRATULATIONS!</h4>
          <h4>You have scored   {{score}}/{{totalQuestion}}</h4>
          <button class="btn btn-out btn-square continue mt-5" style="cursor: pointer;" (click)="navigatehome()" >CONTINUE</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
